name: Build All Platforms

on:
  push:
    tags:
      - "v*"

jobs:
  # ============================
  # Linux & Windows
  # ============================
  build-linux:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Install build tools
        run: |
          sudo apt update && sudo apt install -y cmake g++ make
          sh ./scripts/download-katago-linux.sh

      - name: Package Linux Raw
        run: |
          cp ./settings.gpu.json ./assets/KataGo/config/settings.json
          mkdir build-raw
          cd build-raw
          cmake -DBUILD_TYPE=linux -DCONFIG_TYPE=linux_raw ..
          cmake --build .
          mkdir go-game-analyzer
          cp go-game go-game-analyzer/
          cp -P *.so* go-game-analyzer/
          cp -r assets go-game-analyzer/
          cp config.json go-game-analyzer/
          cp ../scripts/run.sh go-game-analyzer/
          chmod a+x out/run.sh
          tar -czvf go-game-linux.tar.gz go-game-analyzer/

      - name: Package Linux + Katago CPU
        run: |
          mv ./katago-linux-cpu/katago ./assets/KataGo/katago
          mv ./settings.cpu.json ./assets/KataGo/config/settings.json
          mkdir -p assets/KataGo/models
          mv *.bin.gz ./assets/KataGo/models/
          mkdir build-cpu
          cd build-cpu
          cmake -DBUILD_TYPE=linux -DCONFIG_TYPE=linux_with_katago ..
          cmake --build .
          mkdir go-game-analyzer-cpu
          cp go-game go-game-analyzer-cpu/
          cp -P *.so* go-game-analyzer-cpu/
          cp -r assets go-game-analyzer-cpu/
          cp config.json go-game-analyzer-cpu/
          cp ../scripts/run.sh go-game-analyzer-cpu/
          chmod a+x out/run.sh
          tar -czvf go-game-linux-with-katago-cpu.tar.gz go-game-analyzer-cpu/

      - name: Package Linux + Katago GPU
        run: |
          mv ./katago-linux-gpu/katago ./assets/KataGo/katago
          mv ./settings.gpu.json ./assets/KataGo/config/settings.json
          mkdir -p assets/KataGo/models
          #already moved by the previous execution
          #mv *.bin.gz ./assets/KataGo/models/
          mkdir build-gpu
          cd build-gpu
          cmake -DBUILD_TYPE=linux -DCONFIG_TYPE=linux_with_katago ..
          cmake --build .
          mkdir go-game-analyzer-gpu
          cp go-game go-game-analyzer-gpu/
          cp -P *.so* go-game-analyzer-gpu/
          cp -r assets go-game-analyzer-gpu/
          cp config.json go-game-analyzer-gpu/
          cp ../scripts/run.sh go-game-analyzer-gpu/
          chmod a+x out/run.sh
          tar -czvf go-game-linux-with-katago-gpu.tar.gz go-game-analyzer-gpu/

      - uses: actions/upload-artifact@v4
        with:
          name: go-game-linux
          path: build-raw/go-game-linux.tar.gz

      - uses: actions/upload-artifact@v4
        with:
          name: go-game-linux-cpu
          path: build-cpu/go-game-linux-with-katago-cpu.tar.gz

      - uses: actions/upload-artifact@v4
        with:
          name: go-game-linux-gpu
          path: build-gpu/go-game-linux-with-katago-gpu.tar.gz

  # ============================
  # Windows (DLLs)
  # ============================
  build-windows:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Install build tools
        run: |
          sudo apt update && sudo apt install -y cmake g++ make
          sudo apt install -y mingw-w64
          sudo update-alternatives --set x86_64-w64-mingw32-g++ /usr/bin/x86_64-w64-mingw32-g++-posix
          sudo update-alternatives --set x86_64-w64-mingw32-gcc /usr/bin/x86_64-w64-mingw32-gcc-posix
          x86_64-w64-mingw32-g++ -v
          sh ./scripts/download-katago-windows.sh

      - name: Package Windows Raw
        run: |
          cp ./settings.gpu.json ./assets/KataGo/config/settings.json
          mkdir build-raw
          cd build-raw
          cmake -DBUILD_TYPE=windows -DCONFIG_TYPE=windows_raw -DCMAKE_TOOLCHAIN_FILE=../scripts/mingw-w64-toolchain.cmake ..
          cmake --build .
          mkdir out
          cp go-game.exe out/
          cp *.dll out/
          cp -r assets out/
          cp config.json out/

      - name: Package Windows + Katago CPU
        run: |
          mv ./katago-windows-cpu/katago.exe ./assets/KataGo/katago.exe
          mv ./katago-windows-cpu/*.dll ./assets/KataGo
          mv ./settings.cpu.json ./assets/KataGo/config/settings.json
          mkdir -p assets/KataGo/models
          mv *.bin.gz ./assets/KataGo/models/
          mkdir build-cpu
          cd build-cpu
          cmake -DBUILD_TYPE=windows -DCONFIG_TYPE=windows_with_katago -DCMAKE_TOOLCHAIN_FILE=../scripts/mingw-w64-toolchain.cmake ..
          cmake --build .
          mkdir out
          cp go-game.exe out/
          cp *.dll out/
          cp -r assets out/
          cp config.json out/

      - name: Package Windows + Katago GPU
        run: |
          mv ./katago-windows-gpu/katago.exe ./assets/KataGo/katago.exe
          mv ./katago-windows-gpu/*.dll ./assets/KataGo
          mv ./settings.gpu.json ./assets/KataGo/config/settings.json
          mkdir -p assets/KataGo/models
          #already moved by the previous execution
          #mv *.bin.gz ./assets/KataGo/models/
          mkdir build-gpu
          cd build-gpu
          cmake -DBUILD_TYPE=windows -DCONFIG_TYPE=windows_with_katago -DCMAKE_TOOLCHAIN_FILE=../scripts/mingw-w64-toolchain.cmake ..
          cmake --build .
          mkdir out
          cp go-game.exe out/
          cp *.dll out/
          cp -r assets out/
          cp config.json out/

      - uses: actions/upload-artifact@v4
        with:
          name: go-game-windows
          path: build-raw/out/*

      - uses: actions/upload-artifact@v4
        with:
          name: go-game-windows-cpu
          path: build-cpu/out/*

      - uses: actions/upload-artifact@v4
        with:
          name: go-game-windows-gpu
          path: build-gpu/out/*

  # ============================
  # macOS (Homebrew SDL3)
  # ============================
  #  build-macos:
  #    runs-on: macos-latest
  #    steps:
  #      - uses: actions/checkout@v3
  #
  #      - name: Install SDL3 via Homebrew
  #        run: |
  #          brew update
  #          brew install sdl3 sdl3_ttf sdl3_mixer freetype
  #
  #      - name: Configure
  #        run: |
  #          mkdir build-macos
  #          cd build-macos
  #          cmake -DBUILD_TYPE=macos ..
  #
  #      - name: Build
  #        run: |
  #          cd build-macos
  #          cmake --build . --config Release -j
  #
  #      - name: Package
  #        run: |
  #          cd build-macos
  #          mkdir out
  #          cp go-game out/
  #          cp -r assets out/
  #          cp config.json out/
  #
  #      - uses: actions/upload-artifact@v4
  #        with:
  #          name: go-game-macos
  #          path: build-macos/out/*

  # ============================
  # Publish Release (GitHub Release)
  # ============================
  publish:
    needs: [build-linux, build-windows]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts/

      - name: Create archive files
        run: |
          ls -lah
          cd ../go-game-windows
          zip -r ../go-game-windows.zip .
          cd ../go-game-windows-cpu
          zip -r ../go-game-windows-with-katago-cpu.zip .
          cd ../go-game-windows-gpu
          zip -r ../go-game-windows-with-katago-gpu.zip .
          cd ..
          #cd ../go-game-macos
          #zip -r ../go-game-macos.zip .

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.TOKEN }}
          generate_release_notes: true
          files: |
            artifacts/go-game-linux.tar.gz
            artifacts/go-game-linux-with-katago-cpu.tar.gz
            artifacts/go-game-linux-with-katago-gpu.tar.gz
            artifacts/go-game-windows.zip
            artifacts/go-game-windows-with-katago-cpu.zip
            artifacts/go-game-windows-with-katago-gpu.zip
          #artifacts/go-game-macos.zip
